@model IEnumerable<Journey>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Journeys</title>
</head>
<body>
    <h1>All Journeys</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Номер поезда</th>
                <th>Дата отправления</th>
                <th>Дата прибытия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var journey in Model)
            {
                <tr>
                    <td>@journey.Id</td>
                    <td>@journey.TrainId</td>
                    <td>@journey.DepartureTime</td>
                    <td>@journey.ArrivalTime</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

